*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 50vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: background-color .2s;
  align-self: flex-start; }
  .btn:hover {
    background-color: #B28451; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-mid {
  margin-bottom: 3rem; }

.margin-bottom-large {
  margin-bottom: 5rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 10rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-0.5rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__img-1, .story__img-2 {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 1rem 3rem; }

.story__photos {
  background-color: #c69963;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(to bottom right, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.8)), url("/img/back.jpg");
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__img-1 {
  width: 90%;
  grid-column: 2 / 6;
  grid-row: 4 / 5; }

.story__img-2 {
  width: 110%;
  grid-column: 4 / 7;
  grid-row: 4 / 7;
  z-index: 0; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 7vw;
  display: grid;
  align-content: center;
  justify-items: start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 2rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem; }

.home {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: start;
  justify-items: center;
  background-color: #f9f7f6;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0 1rem 3rem; }
  .home__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .home__like {
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    fill: #c69963; }
  .home__name {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: #101d2c;
    color: white;
    padding: 1rem 3rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300; }
  .home > button {
    grid-column: 1 / -1;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #c69963;
    color: white;
    padding: 1rem 0;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1rem; }
  .home__price, .home__area, .home__location, .home__rooms {
    text-align: center;
    padding: 0.5rem 0; }
    .home__price svg, .home__area svg, .home__location svg, .home__rooms svg {
      fill: #c69963;
      height: 2.5rem;
      width: 2.5rem; }
    .home__price p, .home__area p, .home__location p, .home__rooms p {
      font-size: 1.4rem;
      font-weight: 700; }
  .home__price {
    grid-column: 1 / span 3;
    grid-row: 3 / 4; }
  .home__area {
    grid-column: 1 / span 3;
    grid-row: 4 / 5; }
  .home__location {
    grid-column: 4 / span 3;
    grid-row: 3 / 4; }
  .home__rooms {
    grid-column: 4 / span 3;
    grid-row: 4 / 5; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vh); }
  .gallery > * {
    width: 100%; }

.footer {
  background-color: #101d2c; }
