.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-mid) {
        grid-column: 1 / -1;
    }

    h3 {
        font-size: 2.2rem;
        font-family: $font-display;
        font-style: italic;
        margin-bottom: 2vh;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;

        @media only screen and (max-width: $bp-mid) {
            grid-template-columns: repeat(3, max-content);
            grid-template-rows: [img-row-start] max-content [img-row-end];
            justify-items: center;
            grid-column-gap: 5rem;
            grid-row-gap: 1.5rem;
        }
    }

    &__list--img {
        width: 7rem;
        border-radius: 50%;
        display: block;
        border: 1px solid $color-primary;

        @media only screen and (max-width: $bp-mid) {
            grid-row: img-row-start / img-row-end;
        }
    }

    &__list--details {
        text-transform: uppercase;
        margin-top: -3px;
        color: $color-grey-light-1;
        font-size: 1.3rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;

        h4 {
            color: $color-primary;
        }

        @media only screen and (max-width: $bp-mid) {
            justify-content: center;
            text-align: center;
        }
    }
}