%border-radius {
    border-radius: 3px;
    box-shadow: $box-shadow-1;
}

.story {
    &__photos {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;

        background-image: linear-gradient(to bottom right, rgba($color-primary, 0.5), rgba($color-primary, 0.8)), url('/img/back.jpg');
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;

        @media only screen and (max-width: $bp-mid) {
            grid-column: full-start / full-end;
            z-index: 1;
            background-position: center;
        }
    }

    &__img-1 {
        width: 70%;
        grid-column: 2 / 6;
        grid-row: 4 / 5;
        @extend %border-radius;

        @media only screen and (max-width: $bp-mid) {
            grid-row: 3 / 5;
            grid-column-end: 7;
            width: 45%;
        }
    }

    &__img-2 {
        width: 110%;
        grid-column: 4 / 7;
        grid-row: 4 / 7;
        z-index: 0;
        @extend %border-radius;

        @media only screen and (max-width: $bp-mid) {
            grid-row: 2 / 6;
            width: 80%;
        }
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;
        padding: 6rem 7vw;
        display: grid;
        align-content: center;
        justify-items: start;

        @media only screen and (max-width: $bp-mid) {
            grid-column: full-start / full-end;
            padding: 4rem 6vw;
        }
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 2rem;
    }

}